<div class="contact-support-container">
  <mat-card class="contact-support-card">
    <mat-card-header>
      <mat-card-title>
        <mat-icon color="primary" class="contact-icon">support_agent</mat-icon>
        Contact Support
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="submitForm()" *ngIf="!submitted" autocomplete="off" class="contact-form">
        <mat-form-field appearance="outline" class="form-field" floatLabel="always">
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="name" name="name" required autocomplete="off">
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field" floatLabel="always">
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="email" name="email" type="email" required autocomplete="off">
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field" floatLabel="always">
          <mat-label>Message</mat-label>
          <textarea matInput [(ngModel)]="message" name="message" rows="4" required></textarea>
        </mat-form-field>
        <div class="form-actions">
          <button mat-raised-button color="primary" type="submit" class="send-button">
            <mat-icon>send</mat-icon>
            Send
          </button>
        </div>
      </form>
      <div *ngIf="submitted" class="success-message">
        <mat-icon color="primary">check_circle</mat-icon>
        Your message has been sent. Support will contact you soon.
      </div>
    </mat-card-content>
  </mat-card>
</div>